body {
  /* background-color: #4c9e94; */
  /* color: #fff; */
}
.App h1 {
  text-align: center;
  margin-top: 3%;
  /* text-decoration: cap; */
  text-transform: capitalize;
  /* background-color: #4c9e94; */
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
}
.search input,
.search button {
  width: 40%;
  height: auto;
  padding: 0.5%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #cce9fa; */
}
.search input {
  border-radius: 5px 0 0 5px;
  border: 1px solid #1ed96f;
  outline: none;
}
.search input:hover {
  outline: 1px solid #1ed96f;
}
.search button {
  width: 20%;
  font-style: italic;
  color: #fff;
  background-color: #1ed96f;
  border: none;
  border-radius: 0 5px 5px 0;
}
.search button:hover {
  cursor: pointer;
  background-color: #010b40;
  border: 1px solid #010b40;
}
/* showSchools */
.showSchools {
  text-align: center;
  padding: 3%;
}

.schoolGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.school {
  background-color: #4c9e94;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 200px;
  /* font-weight: 700; */
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
.school:hover {
  background-color: #3c3649;
  cursor: pointer;
}
.object-filter {
  padding: 3%;
}
.domains a {
}
